<!DOCTYPE html>
<html ng-app="app" xmlns:ng="//angularjs.org">
<head>
    <meta charset="utf-8">
    <title>Exercise</title>

    <link rel="stylesheet" href="/libs/bower/lumx/dist/lumx.css">
    <link rel="stylesheet" href="/libs/bower/mdi/css/materialdesignicons.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
</head>
<body ng-controller="MainController">

    <div flex-container="row" flex-align="center center" ng-show="searchMode">
        <div flex-item="6" class="entry">
            <div flex-container="row" class="card" flex-align="center center">
                <div flex-item="8" class="p">
                    <lx-text-field label="Search" fixed-label="true">
                        <input type="text" ng-model="key">
                    </lx-text-field>
                </div>
                <div flex-item="4" class="pl++">
                    <button class="btn btn--s btn--blue btn--raised"
                            ng-click="search(key)"
                            lx-ripple>Search</button>
                    <button class="btn btn--s btn--blue btn--raised" ng-click="searchMode = !searchMode">Add Data</button>
                </div>

            </div>
            <div flex-container="row" flex-align="center center" class="m mt+">
                <div flex-item="6">
                    {{ datas }}
                </div>
            </div>
            <div flex-container="row" flex-align="center center" class="m mt+">
                <div flex-item="6">
                    {{ message }}
                </div>
            </div>
        </div>
    </div>

    <div flex-container="row" flex-align="center center" ng-show="!searchMode">
        <div flex-item="6" class="entry">
            <div flex-container="row" class="card" flex-align="center center">
                <div flex-item="2" class="p">
                    <lx-text-field label="Key" fixed-label="true">
                        <input type="text" ng-model="data.key">
                    </lx-text-field>
                </div>

                <div flex-item="6" class="p">
                    <lx-text-field label="Value" fixed-label="true">
                        <input type="text" ng-model="data.value">
                    </lx-text-field>
                </div>

                <div flex-item="4" class="pl++">
                    <button class="btn btn--s btn--blue btn--raised"
                            ng-click="save(key)"
                            lx-ripple>Save</button>
                    <button class="btn btn--s btn--red btn--raised" ng-click="searchMode = !searchMode">Cancel</button>
                </div>

            </div>
        </div>
    </div>

    <script src="/libs/bower/jquery/dist/jquery.min.js"></script>
    <script src="/libs/bower/velocity/velocity.min.js"></script>
    <script src="/libs/bower/angular/angular.min.js"></script>
    <script src="/libs/bower/lumx/dist/lumx.min.js"></script>
    <script src="/libs/bower/angular-resource/angular-resource.min.js"></script>
    <script src="/front/app.js"></script>
</body>
</html>
